@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  transition: 0.3s;
  background: rgb(99, 160, 136);
  background: linear-gradient(
    90deg,
    rgba(99, 160, 136, 1) 21%,
    rgba(86, 99, 138, 1) 84%
  );
}

.progress {
  transition: 0.3s;

  background: rgb(72, 58, 88);
  background: linear-gradient(
    270deg,
    rgba(72, 58, 88, 1) 21%,
    rgba(86, 99, 138, 1) 84%
  );
}

.done {
  transition: 0.3s;

  background: rgb(72, 58, 88);
  background: linear-gradient(
    270deg,
    rgba(72, 58, 88, 1) 21%,
    rgba(86, 32, 61, 1) 84%
  );
}

.hold {
  border: #53dd6c dashed 3px;
}

.hide {
  display: none;
}

.hovered {
  border-top: white;
  transition: 0.3s ease-in-out;

  border-top: #53dd6c dashed 2px;
}
